body {
  background: linear-gradient(
    270deg,
    #ffdede,
    #ff7d7d,
    #ff7d8e,
    #ff7d9d,
    #ff7da8,
    #ff94d9,
    #f180fd,
    #cb7eff
  );
  background-size: 1800% 1800%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  text-align: center;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#Canvases {
  display: flex;
  flex-direction: column;
}
#headerInput {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);

  padding: 10px;
  min-width: 400px;
}
#idBrowser {
  position: absolute;
}
#formResize {
  float: right;
  bottom: 10px;
  right: 10px;
  display: block;
  position: absolute;
}
#Canvases {
  display: inline-block;
}
#formResizeLegend {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
#formAddText {
  float: left;
  bottom: 10px;
  display: block;
  position: fixed;
}

#addText {
  margin-top: 10px;
  width: 95%;
}
#AddTextLegend {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
#buttons {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);

  padding: 10px;
}
#secondCanvas {
  max-width: 50%;
  max-height: 50%;
  position: fixed;
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%);
  stroke: hsl(207, 90%, 54%);
  z-index: -1;
  margin-bottom: 10px;
}

#canvasHistogram {
  position: absolute;
  max-height: 15%;
  width: 50%;
  max-width: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 30px;
  margin-bottom: 0px;
}
#firstCanvas {
  margin-top: 10px;
  max-width: 50%;
  max-height: 50%;
  position: fixed;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  stroke: #2196f3;
  z-index: -1;
}
input[type="button"] {
  margin: 5px 0 0 5px;
  width: 99%;
  border-radius: 15px;
}

input[type="number"],
input[type="text"] {
  display: block;
  width: 95%;
  border-radius: 15px;
  padding-left: 10px;
}

label {
  display: block;
  float: left;
  clear: both;
  width: 95%;
}
form {
  width: 18%;
  border: 1px solid grey;
  border-radius: 5px;
  color: white;
  padding: 10px 16px 16px 16px;
  bottom: 0px;
}

button,
select {
  border-radius: 15px;
  background-color: #edf0f3;
  margin: 2px;
}
